@model TaskManager.Models.Project

<h1>Tasks for @Model.Name</h1>

@foreach(var task in Model.Tasks)
{
    <h1>@task.Name</h1>
    <h2>@task.Description</h2>

    @if(task.Completed == false)
    {
        <h2>Completed: No </h2>
        
    }
    else
    {
        <h2>Completed: Yes</h2>

    }

    @if(task.IsTaken == false)
    {
        <h2>Taken: No</h2>
        <br />

        <form method="post" action="@task.Name">
            <h2>Would you like to accept this task?</h2>
            <input type="hidden" id="@task.Name" />
            <input type="submit" value="yes" />
        </form>

    }
    else
    {
        <h2>Taken: Yes</h2>

    }
    
}